.top-Cont {
  background-color: #d7fffd;
  padding-top: 100Px;
  position: relative;
}
h1 {
  margin-top: 0;
}
body {
  text-align: center;
  margin: 0;
  background-color: #d7fffd;
}

.kis {
  width: 200px;
  height: 200px;
}
.midCont {
  background-color: blue;
}
.botCont {
  background-color: rebeccapurple;
}
.top-Cloud {
  height: 9%; 
  width: auto;
  position: absolute;
  top: 70px;
  left: calc(50% + 200px);
}
.bottom-Cloud {
  position: absolute;
  left: calc(50% - 400px);
  height: 9%;
  width: auto;
  top: 200px;
}
.river {
  position: relative;
  height: auto;
  width: 50%;
  bottom: 100px;
  
}

/* 
position: relative igy tudsz left , right erteket huzni ahhoz kepest, hogy hol volt

position: absolute - mindig a parenthez kepst szamol. 
  lasd div a divben esetleg bodyhoz kepest. megszunteted a tobbi kotottseget ehhez az objektumhoz viszonyitva
  ahhoz, hogy ne a bodyhiz, hanem a divhez kepest szamoljon, a divet relativra kell tenni
  display: inline-block */
