.top-Cont {
  background-color: #d7fffd;
  padding-top: 11vh;
  position: relative;
}
h1 {
  margin-top: 0;
}
body {
  text-align: center;
  margin: 0;
  background-color: #d7fffd;
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  
}

.kis {
  width: 200px;
  height: 200px;
}
.midCont {
  background-color: blue;
}
.botCont {
  background-color: rebeccapurple;
}
.top-Cloud {
  height: auto; 
  width: 9vw;
  position: absolute;
  top: 6vh;
  right:31vw;
}
.bottom-Cloud {
  position: absolute;
  left: 32vw;
  top: 21vh;
  height: auto;
  width: 9vw;
  
}
.river {
  
  position: relative;
  height: auto;
  width: 35vw;
  top: 0.1vh;
  
  
  
}

/* 
position: relative igy tudsz left , right erteket huzni ahhoz kepest, hogy hol volt

position: absolute - mindig a parenthez kepst szamol. 
  lasd div a divben esetleg bodyhoz kepest. megszunteted a tobbi kotottseget ehhez az objektumhoz viszonyitva
  ahhoz, hogy ne a bodyhiz, hanem a divhez kepest szamoljon, a divet relativra kell tenni
  display: inline-block 
  
Fluid typing:
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

*/
